APP_NAME=JobBoardAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=jobboard
DB_USERNAME=jobboard
DB_PASSWORD=secret

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

L5_SWAGGER_UI_DOC_EXPANSION=list
L5_SWAGGER_GENERATE_ALWAYS=false
L5_SWAGGER_UI_FILTERS=true
L5_SWAGGER_UI_DOC_EXPANSION=list
